

.title{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}

.iframe{

    margin: auto;
    margin-left: 0.25rem;
    margin-right: 0.25rem;


    max-height: 560px;
    max-width: max-height /16 *9;

    height: 100%;
    width: 100%;
}