
.li, .ol{
  list-style: none;
}

.overlayBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayWindow {
  position: fixed;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  background-color: rgba(255, 255, 255);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 80%;
  max-height: 80%;
}